/* background behind the logo*/
#header {
  background: #345979;
  border-color: #323431;
}

#header img {
  width: 90px;
}

#header-wrapper {
  background: #345979;
  border-bottom: 4px solid #9cc93b;
}

/* Background color of the menu */
#sidebar {
  background-color: #323431;
}

/* Background color of the menu, when clicked */
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #345979;
}

/* Color of all links, including arrows to get to previous and next pages */
a {
    color: #7491ab;
}
a:hover {
   color: #9cc93b;
}
